.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  color: black;

  margin: 20px;
}

.imageContainer {
  position: relative;
  cursor: pointer;
}

.image {
  width: 100%;
  aspect-ratio: 19/10;
  object-fit: cover;
  display: block;
}

.location {
  position: absolute;
  bottom: 8px;
  left: 12px;
  color: white;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 6px;
  font-size: 14px;
  font-family: var(--body-font) !important;
}

.details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.details p {
  color: #555;
  font-size: 1.2rem;
  margin: 6px 0;
  display: flex;
  align-items: center;
  color: black;
}

.client {
  font-family: var(--heading-font), sans-serif !important;
  font-weight: 600;
  font-size: 1.5rem !important;
}
.size {
  color: var(--primary-color) !important;
  font-family: var(--subheading-font) !important;
}

.descripton {
  font-family: var(--body-font), sans-serif !important;
}

.viewBtn {
  background-color: #f8dede;
  color: #c40000;
  border: none;
  padding: 8px 14px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  float: right;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
}
