.callToActionBannerContainer {
  background-color: rgb(173, 42, 48);
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  overflow: hidden;
}

.bannerContentContainer {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  gap: 2rem;
}

.bannerContentContainer h2 {
  font-family: var(--heading-font);
  color: white;
  font-size: 2rem;
  border-bottom: 2px solid white;
  line-height: 5rem;
  text-align: center;
  padding: 1rem;
}

.bannerContentContainer p {
  font-family: var(--body-font);
  color: white;
  font-size: 1.3rem;
  text-align: center;
  padding: 0 1rem;
}

.bannerContentContainer .link {
  text-decoration: none;
  color: black;
  font-family: var(--body-font);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid white;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: white;
  transition: 0.5s;
  margin-bottom: 1rem;
}
.bannerContentContainer .link:hover {
  color: white;

  background-color: transparent;
}

.bannerContentContainer .link .arrowIcon {
  font-size: 1.5rem;
}

.svgsContainerOne {
  position: relative;
  width: 20%;
  height: 100%;
}

.svgsContainerTwo {
  position: relative;
  width: 20%;
  height: 100%;
}

.svgsContainerOne .nets {
  position: absolute;
  z-index: 1;
  height: 100%;
}

.svgsContainerOne .eye {
  position: absolute;
  z-index: 2;
}

.svgsContainerOne .ellipse {
  position: absolute;
  z-index: 1;
}
.svgsContainerTwo .nets {
  position: absolute;
  z-index: 1;
  height: 100%;
  transform: rotate(180deg);
  bottom: 0;
}

.svgsContainerTwo .microphone {
  position: absolute;
  z-index: 2;
  right: 0;
}

.svgsContainerTwo .ellipse {
  position: absolute;
  z-index: 1;
  transform: rotate(180deg);
  bottom: 0;
}

@media (max-width:1110px) {
  .bannerContentContainer {
   width: 90%;
   margin: 0 auto;
   height: auto;
    background-color: rgba(213, 27, 27, 0.29);
    backdrop-filter: blur(10px);
  }
 
  .svgsContainerOne{
   width: 5%;
  }
  .svgsContainerTwo{
    width: 5%;
  }
}